@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::placeholder,
textarea::placeholder {
  color: rgb(180, 180, 180) !important;
  opacity: 1 !important; /* Firefox */
}
::placeholder {
  /* Most modern browsers support this now. */
  color: rgb(180, 180, 180) !important;
}

input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: rgb(180, 180, 180) !important;
}
body {
  background-color: #161a30;
}

input,
textarea {
  background-color: #31304d !important;
  border: 0px;
  color: white !important;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field {
  width: 80%;
}

.display-1 {
  text-align: center;
  color: #f0ece5;
}
.display-3 {
  text-align: center;
  color: #a80505;
}

button,
.card {
  font-family: "Poppins", sans-serif;
}
.card {
  margin: 50px auto;
  width: 80%;
  border: none;
  color: white;
  background-color: #161a30;
  gap: 30px !important;
  display: flex;
  flex-direction: column;
}

.a-card {
  background-color: #31304d;
  width: 90%;
}
.btn-danger {
  margin: 10px auto;
}

.card-header {
  display: flex;
  justify-content: space-between;
}
.card-header I {
  margin-left: 7px;
}

i:hover {
  cursor: pointer;
  color: red;
}

.the-card i {
  text-align: center;
}
.numOflikes {
  font-weight: 700;
  font-size: larger;
}
@media (max-width: 800px) {
  .card {
    width: 90%;
  }
}
